* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
  font-size: 1vw;
}

body {
  background-image: url("../public/media/sky.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}
.row{
  width: 100%;
  margin: 0;
  display: flex;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  padding: 0;
}
.carousel{
  margin: 0;
}
.titulo{
  font-family: 'Teko', sans-serif;
}
.aa{
  font-size: 3vw;
}