* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
  font-size: 1.05vw;
}

body {
  background-image: url("../public/media/sky.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}
.row{
  width: 100%;
  margin: 0;
  display: flex;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  padding: 0;
}
.carousel{
  margin: 0;
}
.titulo{
  font-family: 'Teko', sans-serif;
  line-height: 1;
}
.aa{
  font-size: 3vw;
}
.bb{
  margin: 2vw 1.3vw 0.8vw;
}
.dd{
  margin: 2vw 0 0.7vw -0.7vw;
}
.carousel-control-next{
  right: -7.8vw;
}
.carousel-control-prev{
  left: -7.8vw;
}
.badge{
  font-size: 1vw;
}
.notape p{
  color: #dc3545;
  font-weight: bold;
  margin: 0;
  text-align: end;
  text-decoration: underline;
  margin: 1vw 0;
}
.cc{
  text-align: center;
}
.navbar-collapse a{
  color: #dc3545;
}
.nav-link:focus{
  color:  #dc3545;
}
.ee:hover{
  background-color:  #dc3545;
  color: #fff;
}
.form-control{
  border: none;
}